
.page-footer{background-color:#7505A9;
padding-top: 15vh;}

#qlink{
    margin-left: 30px;
}

#cn{
    margin-left: 30px;
}
#sicon{
    padding: 20px;
    margin-right: 20px;
}
#phnIcon{
    padding-right: 10px;
}
#emailIcon{
    padding-right: 10px;
}