
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->

<!--Grid column-->
<div id="gridColumn" class="col-md-6 mb-4">



       <!--carousel-->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li *ngIf="product.frontCode" data-target="#demo" data-slide-to="0" class="active"></li>
    <li *ngIf="product.backCode" data-target="#demo" data-slide-to="1"></li>
    <li *ngIf="product.leftCode" data-target="#demo" data-slide-to="2"></li>
    <li *ngIf="product.rightCode" data-target="#demo" data-slide-to="3"></li>
    <li *ngIf="product.headCode" data-target="#demo" data-slide-to="4"></li>
    <li *ngIf="product.footCode" data-target="#demo" data-slide-to="5"></li>




   
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">


    <div *ngIf="product.frontCode" class="carousel-item active">
      <img src="/getPhotos/{{product.frontCode}}" alt="">
    </div>


    <div *ngIf="product.backCode" class="carousel-item">
      <img src="/getPhotos/{{product.backCode}}" alt="">
    </div>







    <div *ngIf="product.leftCode" class="carousel-item">
        <img src="/getPhotos/{{product.leftCode}}" alt="">
      </div>
  
  
      <div *ngIf="product.rightCode" class="carousel-item">
        <img src="/getPhotos/{{product.rightCode}}" alt="">
      </div>



    <div *ngIf="product.headCode" class="carousel-item">
        <img src="/getPhotos/{{product.headCode}}" alt="">
      </div>
  
  
      <div *ngIf="product.footCode" class="carousel-item">
        <img src="/getPhotos/{{product.footCode}}" alt="">
      </div>



   


  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!--/.Carousel-->
</div>








        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <p class="lead">
              <span class="mr-1">
                <span><b>Category : </b></span>
              </span>
              <span>{{product.category}}</span>
            </p>



            <p class="lead">
                <span class="mr-1">
                  <span><b>Brand : </b></span>
                </span>
                <span>{{product.brand}}</span>
              </p>
            
            <p class="lead">
              <span class="mr-1">
                <span><b>Name : </b></span>
              </span>
              <span>{{product.name}}</span>
            </p>


            <p class="lead">
                <span class="mr-1">
                  <span><b>Color : </b></span>
                </span>
                <span>{{product.color}}</span>
              </p>
  



            <p class="lead">
              <span class="mr-1">
                  <span><b>Single price : </b></span>
                <del>{{product.marketPrice}} Tk.</del>
              </span>
              <span>{{product.soldPrice}} Tk.</span>
            </p>





            <p class="lead">
                <span class="mr-1">
                  <span><b>Description : </b></span>
                </span>
                <span>{{product.description}}</span>
              </p>


            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input placeholder="1" [(ngModel)]="quantity"  name="quantity" type="number" min="1" max="2"
              aria-label="Search" class="form-control" style="width: 100px">
              <a [routerLink]="['navbar',product.id,quantity]" ><button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button></a>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </div>
  </main>
  <!--Main layout-->
