//for category select in modal
.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 



html, body { height: 100%; }
body {margin:0; font-family: Roboto, "Helvetica Neue", sans-serif; }



