





<!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="assets/tijara.jpg" alt="Card image cap">
      <a href="JavaScript:Void(0)">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body  wow slideInUp">
  
      <!-- Title -->
      <h3 class="card-title"><b>Our Story</b></h3>
      <!-- Text -->
      <p class="card-text">


With the grace of Almighty,we have recently made a business platform on the basis of good imported-products,having connection with neighbouring countries.
Tizara Mart will be acting as a mediator between national and international relations,with the help of fair business policies.

In this nice and dynamic online platform,you will find your likely products at a very reasonable rate,which is a golden chance for local people. We are and will be bringing good and quality products which will charm our people and make them happy,having got hand on the international branded products.

Currently,we're working on developing a major peripheral zone of good product loving customers who we'll have a nice relationship with..Because,we believe that no business can and will not get success unless it reaches a wide range of good product loving customers...

In future,we will create-Insha Allah-a balanced market platform, maintaining the international standard. Well hope,one day Tizara Mart will be your most preferred online market point.

In fine,we urge and request you to stay with us in the very beginning of a new era of full and fair business platform.
Stay safe 
   Live healthy 
     Worship good
        and 
         Make life simply gorgeous!
      </p>
     
    </div>
  
  </div>
  <!-- Card -->









