<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <!--Grid row-->
    <div class="row">







      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{cartNumber}}</span>
        </h4>

        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1">
          <li *ngFor="let item of items" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="text-muted"> Category : {{item.product.category}}<br></small>

              <small class="text-muted"> Brand : {{item.product.brand}}<br></small>
              <small class="text-muted"> Name : {{item.product.name}}</small>
            </div>

            <span class="text-muted">{{item.quantity}}<i class="fa fa-times"
                aria-hidden="true"></i>{{item.product.soldPrice}} Tk.</span>
          </li>



          <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
             <small class="text-muted"></small>
              </div>
  
              <span class="text-muted">Total = {{total}} Tk.</span>
            </li>



        </ul>
        <!-- Cart -->

        <!-- Promo code -->
        <form class="card p-2">



          <div class="input-group">


            <input type="text" [(ngModel)]="promo_code_proxy" name="promo_code_proxy" class="form-control"
              aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
            <div class="input-group-append">
              <button disabled class="btn btn-secondary btn-md waves-effect m-0" type="button">Promo code</button>
            </div>
          </div>
        </form>
        <!-- Promo code -->

      </div>
      <!--Grid column-->







      <!--Grid column-->
      <div class="col-md-8 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <form class="card-body">


            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--firstName-->
                <div class="md-form ">
                  <input mdbInput type="text" [(ngModel)]="person.firstName" name="firstName" id="firstNameId"
                    class="form-control" placeholder="Atif">
                  <label for="firstNameId" class="">First name</label>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--lastName-->
                <div class="md-form">
                  <input mdbInput type="text" [(ngModel)]="person.lastName" name="lastName" id="lastNameId" class="form-control"
                    placeholder="Aslam">
                  <label for="lastNameId" class="">Last name</label>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->




            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-2">
                <!--phone-->
                <div class="md-form mb-5">
                  <input mdbInput type="text" [(ngModel)]="person.phone" name="phone" id="phoneId" class="form-control"
                    placeholder="017******74">
                  <label for="phoneId" class="">Phone Number</label>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-2">




                <!--email-->
                <div class="md-form mb-5">
                  <input mdbInput type="email" [(ngModel)]="person.email" name="email" id="emailId" class="form-control"
                    placeholder="youremail@gmail.com">
                  <label for="emailId" class="">Email (optional)</label>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->





            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--present address-->
                <div class="md-form mb-5">
                  <input mdbInput type="text" [(ngModel)]="person.presentAddress" name="presentAddress" id="paddress"
                    class="form-control" placeholder="Present Address">
                  <label for="paddress" class="">Present Address</label>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-2">





                <!--permanent address-->
                <div class="md-form mb-5">
                  <input mdbInput type="text" [(ngModel)]="person.permanentAddress" name="permanentAddress" id="peraddress"
                    class="form-control" placeholder="Permanent Address">
                  <label for="peraddress" class="">Permanent Address (optional)</label>
                </div>


              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->


            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-2">


                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="cashOnDelivery" name="cashOnDelivery"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="same-address">
                  <label class="custom-control-label" for="same-address">Cash on delivery</label>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-2">


                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="saveInfo" name="saveInfo" [ngModelOptions]="{standalone: true}"
                    class="custom-control-input" id="save-info">
                  <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>


              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->




            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!(cashOnDelivery && person.firstName && person.lastName
             && person.phone && person.presentAddress && cartNumber)" (click)="continueCheckout()">Continue to checkout</button>

          </form>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->