#fullNameInNavBar{
    margin-top: -8px;
    }
    p {
    font-family: Lato;
    }
    
    .navbar{
    z-index: 1;
    }
    
    #home{
      margin-left: 5%;
    margin-top: 8px;
    }
    
    #login{
      margin-top: 8px;
    }
    img{
      width: 30px;
      height: 30px;;
    }
    .navbar{
      background:rgb(66, 103, 178);
      }