
img{
  width: 25px;
  height: 25px;;
  
}
#ppId{
  margin-top: 7px;
}

#paddingListId{
  padding-left: 10px;
}
#newCategoryBtnId{
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}



#addProductM{
  overflow: auto;
}
