
.navbar-toggler {
  border-color: rgb(46,80,144);
} 

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(46,80,144, 0.8)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


#navPhoto{
  width: 25px;
  height: 25px;;
  
}
#ppId{
  margin-top: 7px;
}

#paddingListId{
  padding-left: 10px;
}

#newCategoryBtnId{
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}



#addProductM{
  overflow: auto;
}

nav.navbar.fixed-top {
  max-height:340px;
  overflow-y:auto;
  
  
}

mat-option{
  text-align: center;
}

#cartModal{
  overflow: auto;
}
#cartImg{
  width: 70px;
  height: 70px;
}

#cartText{
  font-size: 10px;
  
}
#emailModal{
  overflow-y: auto;
}

#adsBtn{

  padding: .2rem 1.5rem;
}


#msgOKbtn{
  padding: .2rem 1rem;
}



#logoId{
  width: 160px;
  height: 90px;
}

#navText{
  font-weight: bold;
  font-family: "calibri", Garamond, 'Comic Sans MS';
  font-size: 20px;
}