
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="" target="_blank">
      <strong id="paddingListId" class="blue-text">TizaraMart</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li id="paddingListId" class="nav-item">
          <a class="nav-link waves-effect" href="aboutUs" target="_blank">About Us</a>
        </li>
        <li id="paddingListId" class="nav-item">
          <a class="nav-link waves-effect" href="ourProducts" target="_blank">Our Products</a>
        </li>
        <li id="paddingListId" class="nav-item">
          <a class="nav-link waves-effect" href="sellToUs" target="_blank">Sell On ZubiShopping</a>
        </li>
        <li id="paddingListId" class="nav-item">
          <a class="nav-link waves-effect" href="contactUs" target="_blank">Contact Us</a>
        </li>
        <li id="paddingListId" class="btn-group" mdbDropdown>
          <a class="nav-link waves-effect" mdbDropdownToggle>Admin Section</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="JavaScript:Void(0);" (click)="addProductModal.show()">Add new product</a>
              <a class="dropdown-item" href="JavaScript:Void(0);" (click)="addCarouselModal.show()">Edit carousel pictures</a>
              <a class="dropdown-item" href="#">Log Out (Atif Aslam)</a>
              <a class="dropdown-item" href="#">Log Out (Atif Aslam)</a>



            </div>
      

        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">



          <li id="ppId" class="btn-group" mdbDropdown>

              <img src="assets/aslam-1.jpg" mdbDropdownToggle class="rounded-circle img-fluid">
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Log Out (Atif Aslam)</a>
                </div>
          
        
        
        </li>
        



       
        <li id="paddingListId" class="nav-item">
          <a href="" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li id="paddingListId" class="nav-item">
          <a href="" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li id="paddingListId" class="nav-item">
          <a href="" class="nav-link waves-effect" target="_blank">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li id="paddingListId" class="nav-item" (click)="chattingModal.show()">
          <a href="JavaScript:Void(0);" class="nav-link waves-effect">
            <i class="fas fa-comment"></i>
          </a>
        </li>


        <li id="paddingListId"  class="nav-item" (click)="cartModal.show()">
            <a href="JavaScript:Void(0);" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> 1 </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
     







      </ul>

    </div>

  </div>
</nav>

<!-- /Navbar end-->


<!--add carousel modal-->

<div mdbModal #addCarouselModal="mdbModal" class="modal fade top modal-scrolling" id="frameModalTop" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <strong class="pt-3 pr-2">Edit your website's carousel pictures !</strong>
          <br><br>

          
          <div *ngIf="!selectedCFiles" class="input-group">
            
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="first-picture" (change)="selectCFile($event)"
                  name="selectedCFiles" aria-describedby="inputGroupFileAddon01" multiple="multiple">
                <label class="custom-file-label" for="first-picture">Choose carousel pictures !</label>
              </div>
            </div>

            <div *ngFor="let c of selectedCFiles" class="input-group">
            
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="picture" (change)="selectCFile($event)"     
                  name="selectedCFiles" aria-describedby="inputGroupFileAddon01" multiple="multiple">
                <label class="custom-file-label" for="picture">{{c.name}}</label>
              </div>
            </div>


           


          <div class="modal-footer d-flex justify-content-center">
              <button mdbBtn color="primary" [disabled]="!selectedCFiles"
              (click)="addCarouselPictures()" aria-label="Close" (click)="addCarouselModal.hide()"
               mdbWavesEffect>Save</button>
          </div>

          <div class="modal-footer d-flex justify-content-center">
              <button mdbBtn color="primary" (click)="resetCarousel()" aria-label="Close" (click)="addCarouselModal.hide()"
               mdbWavesEffect>Close</button>
          </div>


         

        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!--/add carousel modal-->





















<!--Add product modal-->



<div id="addProductM" mdbModal #addProductModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="addProductModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Add a new product here !</h4>
      </div>
      <div class="modal-body">
        



          <div class="md-form mb-5">
              <input type="text" id="name" class="form-control validate" [(ngModel)]="product.name" required>
              <label data-error="wrong" data-success="right" for="name">Product name</label>
            </div>
    
    
            <div class="md-form mb-5">
              <input type="text" id="brand" class="form-control validate" [(ngModel)]="product.brand" required>
              <label data-error="wrong" data-success="right" for="brand">Brand name</label>
            </div>
    
    
            <div class="md-form">
                <textarea type="text" id="description" class="md-textarea form-control" rows="2" [(ngModel)]="product.description" required></textarea>
                <label data-error="wrong" data-success="right" for="description">Product description</label>
              </div>
    
    
    
    
    
              <div class="md-form mb-5">
                <input type="text" id="marketPrice" class="form-control validate" [(ngModel)]="product.marketPrice" required>
                <label data-error="wrong" data-success="right" for="marketPrice">Market price of product</label>
              </div>

    
            <div class="md-form mb-5">
              <input type="text" id="soldPrice" class="form-control validate" [(ngModel)]="product.soldPrice" required>
              <label data-error="wrong" data-success="right" for="soldPrice">Sold price of product</label>
            </div>
    
           
    
              <div class="md-form mb-5">
                  <input type="text" id="color" class="form-control validate" [(ngModel)]="product.color" required>
                  <label data-error="wrong" data-success="right" for="color">Color of product</label>
                </div>
    
    
                <div class="md-form mb-5">
                    <input type="text" id="quantity" class="form-control validate" [(ngModel)]="product.quantity" required>
                    <label data-error="wrong" data-success="right" for="quantity">Quantity of product</label>
                  </div>
      
    
    











    
                  <!-- <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="picture" (change)="selectpFile($event)"
                        [(ngModel)]="product.selectedPFile"
                          aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="picture">{{product.selectedPFile}}</label>
                      </div>
                    </div>
     -->






                    <div *ngIf="!selectedpFiles" class="input-group">
            
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="first-picture" (change)="selectpFile($event)"
                          name="selectedpFiles" aria-describedby="inputGroupFileAddon01" multiple="multiple">
                        <label class="custom-file-label" for="first-picture">Choose Product's pictures !</label>
                      </div>
                    </div>
        
                    <div *ngFor="let p of selectedpFiles" class="input-group">
                    
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="picture" (change)="selectpFile($event)"     
                          name="selectedpFiles" aria-describedby="inputGroupFileAddon01" multiple="multiple">
                        <label class="custom-file-label" for="picture">{{p.name}}</label>
                      </div>
                    </div>














    
    <br><br>
    <!--Material select-->
    
        <mat-select matInput placeholder="Select a category" [(ngModel)]="product.category" name="category" required>
          <mat-option  [value]="category.category" *ngFor="let category of categories" >{{category.category}}</mat-option>
         
        </mat-select>
    
    <br><br>
        <button id="newCategoryBtnId" mat-raised-button (click)="addCategoryModal.show()">New category ?</button>
    
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" [disabled]="!(product.name && product.brand && product.description &&
        product.soldPrice && product.marketPrice && product.color && product.quantity && selectedpFiles[0].name &&
        product.category)" (click)="uploadFile()" aria-label="Close" (click)="addProductModal.hide()" mdbWavesEffect>Save</button>
      </div>
    </div>
  </div>
</div>





<!--/Add product modal-->

<!--Add category modal-->


      <div id="addProductM" mdbModal #addCategoryModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="addCategoryModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Add a new category here !</h4>
              </div>
              <div class="modal-body">
                

        <div class="md-form mb-5">
          <input type="text" id="productCategory" class="form-control validate" [(ngModel)]="category.category" name="category" required>
          <label data-error="wrong" data-success="right" for="productCategory">Category name</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="primary" [disabled]="!(category.category)" (click)="addCategory()" aria-label="Close" (click)="addCategoryModal.hide()" mdbWavesEffect>Save</button>
      </div>
    </div>
  </div>
</div>



<!--/Add category modal-->




<!-- Modal: modalCart -->



<div mdbModal #cartModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="cartModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Your cart</h4>
      </div>
      <div class="modal-body">
      
        


          <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Product name</th>
                  <th>Price</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Product 1</td>
                  <td>100$</td>
                  <td><a><i class="fas fa-times"></i></a></td>
                </tr>
    
              </tbody>
            </table>
    
          </div>
          <!--Footer-->
          <div class="modal-footer">
        
            <strong id="totalTkPosition">Total = 200 Tk.</strong>
        
          </div>
    
         



      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="cartModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" routerLink="/checkOut" aria-label="Close" (click)="cartModal.hide()" mdbWavesEffect >Checkout</button>
      </div>
    </div>
  </div>
</div>





<!-- /Modal: modalCart -->



<!--modal chatting-->
<div mdbModal #chattingModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-side modal-bottom-right " role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="chattingModal.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">Question ? chat with us </h4>
    </div>
    <div class="modal-body">
      <p>hellogfgggggggggggggggggggggggggggggggggggggggggggggggggggggg
        gggggggggggggdfffffffffffffffffffffffffffffffffff
      dfffffffffffffffffffffffffffasasaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

      asssssssssssssssssssssssssssssssssssssssssssssssssssss
      ssssssssssssssssssssssssssellogfgggggggggggggggggggggggggggggggg
      gggggggggggggggggggggggggggggggggggdfffffffffffffffffffffffffffffffffff
      dfffffffffffffffffffffffffffasasaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

      assssssssssssssssssssssssssssssssssssssssssss
      ssssssssssssssssssssssssssssssssssss</p>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="chattingModal.hide()" mdbWavesEffect>Close</button>
      <button type="button" mdbBtn color="primary" class="relative waves-light" aria-label="Close" (click)="chattingModal.hide()" mdbWavesEffect>Save!</button>
    </div>
  </div>
</div>
</div>