<p>addproducts works!</p>








<div class="container-fluid">
    <div class="row">
  
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
       
        <form class="form" name="biodataForm" [formGroup]="biodataForm">
          <div>
            <p id="headingP">(1)Upload applicant's image(2)Upload an application's image in a single page
              and signature of
              your department's Dean .
            </p>
            <hr>
          </div>
          <input type="hidden" name="category.id">
         
          
          <div class="formDiv">
            <mat-form-field class="full-width">
              <input matInput placeholder="Category" required type="text" autocomplete="off"
                [(ngModel)]="category.category" [formControl]="categoryFormControl">
              <mat-error *ngIf="categoryFormControl.invalid">{{getRequiredErrorMessageForString('category')}}</mat-error>
            </mat-form-field>
            </div>
          <br>
          <button id="submitButton" mat-raised-button color="primary" class="submit-button"
           
           [disabled]="!(category.category)"
            (click)="addCategory()">submit</button>
        </form>
  
  
  
  </div>
    </div>
  </div>
  
