// FOR NG MATERIAL 
// form field
.container-fluid {
    padding:1.2em;
    margin-top: 1%;
   margin-bottom: 1%;
    width:100%;
    height:100%;
  }
  .form{
    width: 50%;
    height: auto;
    margin-left:25%;
  }
  .formDiv {
    display: flex;
    flex-direction: column;
  }
  
  .formDiv > * {
    width: 100%;
  }
  
  #submitButton{
    margin-left: 42%;
  }
  mat-option{
    text-align: center;
  }
  
  #fileSelectButton{
    width: 100%;
  padding: 2%;
  }
  //FOR CANDIDATES
  .thumbnail{
    width: 100%;
    height: auto;
    margin-top: 15%;
  }
  p{
    text-align: center;
  }
  input{
  text-align: center;
  }
  #headingP{
  text-align: center;
  font-size: 18px;
  width: 100%;
  }