
      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row -->
        <div  class="row wow rollIn">

          <!--Grid column -->
          <div *ngFor="let p of tpProducts" class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

                 <p id="dateId">Submission Date : {{p.createdDate}}</p>

              <!--Card image-->
              <div *ngIf="p.frontCode" class="view overlay">
                <img src="/getPhotos/{{p.frontCode}}" class="card-img-top" alt="">
                <a  [routerLink]="['sellToUs', p.id]" >
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--/Card image-->





              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
               
                <h5>
                  <strong>
                    <a [routerLink]="['sellToUs', p.id]" class="dark-grey-text">{{p.name}}
                    </a>
                  </strong>
                </h5>

                <a [routerLink]="['sellToUs', p.id]" class="grey-text">
                    <h5>{{p.description}}</h5>
                  </a>

                <h4 class="font-weight-bold blue-text">
                  <strong>{{p.soldPrice}} Tk.</strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->
          

        </div>
        <!--Grid row-->




      </section>
