<!--carousel-->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="{{activeCarouselId}}" class="active"></li>
    <li *ngFor="let c of carousels" data-target="#demo" data-slide-to="{{c.id}}"></li>
   
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://localhost:8080/getPhotos/{{activeCarouselPhoto}}" alt="">
    </div>
    <div *ngFor="let cimg of carousels" class="carousel-item">
      <img src="http://localhost:8080/getPhotos/{{cimg.cCode}}" alt="">
    </div>
   
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<!--/.Carousel-->








  <!--Main layout-->
  <main>
    <div class="container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        
<button id="newFilter" type="button" mdbBtn color="light" mdbWavesEffect (click)="newFilter()">New filter</button>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            
              <mat-form-field>
                  <mat-label>Category</mat-label>
                  <mat-select matInput [(ngModel)]="category">
                  <mat-option  [value]="c" *ngFor="let c of categoriesForFilter" >{{c}}</mat-option>   
                    </mat-select>
                </mat-form-field>




                <mat-form-field>
                  <mat-label>Brand</mat-label>
                  <mat-select matInput [(ngModel)]="brand">
                  <mat-option  [value]="b" *ngFor="let b of brandsForFilter" >{{b}}</mat-option>   
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Color</mat-label>
                    <mat-select matInput [(ngModel)]="color">
                    <mat-option  [value]="c" *ngFor="let c of colorsForFilter" >{{c}}</mat-option>   
                      </mat-select>
                  </mat-form-field>
  






                  <mat-form-field>
                      <mat-label>Name</mat-label>
                      <mat-select matInput [(ngModel)]="name">
                      <mat-option  [value]="n" *ngFor="let n of namesForFilter" >{{n}}</mat-option>   
                        </mat-select>
                    </mat-form-field>
   



                    <!--sorting by price-->

                    <button id="sortByPrice" mat-button [matMenuTriggerFor]="lowerAndUpper">Sort by price</button><i class="fa fa-caret-down" aria-hidden="true"></i>

                    <mat-menu #lowerAndUpper="matMenu">
                      <button mat-menu-item [matMenuTriggerFor]="lowerToUpper">Lower to upper price</button>
                      <button mat-menu-item [matMenuTriggerFor]="upperToLower">Upper to lower price</button>
                    </mat-menu>
                    
                    <mat-menu #lowerToUpper="matMenu">
                      <button mat-menu-item [matMenuTriggerFor]="lowerToUpperCategories">Categories</button>
                      <button mat-menu-item [matMenuTriggerFor]="lowerToUpperBrands">Brands</button>
                    </mat-menu>
                    
                    <mat-menu #upperToLower="matMenu">
                      

                        <button mat-menu-item [matMenuTriggerFor]="upperToLowerCategories">Ctaegories</button>
                    
                        <button mat-menu-item [matMenuTriggerFor]="upperToLowerBrands">Brands</button>
                    
                      </mat-menu>
                    
                    <mat-menu #lowerToUpperCategories="matMenu">
                      <button mat-menu-item *ngFor="let c of categoriesForFilter" (click)="getLowerToUpperSortedProductsByCategory(c)">{{c}}</button>
                    </mat-menu>
                    <mat-menu #lowerToUpperBrands="matMenu">
                        <button mat-menu-item *ngFor="let b of brandsForFilter" (click)="getLowerToUpperSortedProductsByBrand(b)" >{{b}}</button>
                 
                      </mat-menu>


                    
                    <mat-menu #upperToLowerCategories="matMenu">
                        <button mat-menu-item *ngFor="let c of categoriesForFilter" (click)="getUpperToLowerSortedProductsByCategory(c)"  >{{c}}</button>
                 
                      
                    </mat-menu>
                    
                    <mat-menu #upperToLowerBrands="matMenu">
                        <button mat-menu-item *ngFor="let b of brandsForFilter" (click)="getUpperToLowerSortedProductsByBrand(b)" >{{b}}</button>
                 
                        
                      </mat-menu>
                      
                 
      
<!--/sorting by price-->




        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->




      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row for filter-->
        <div  *ngIf="products"  class="row wow fadeIn">

          <!--filter result-->
          <!--Grid column -->
          <div *ngFor="let p of products | productFilter:category:brand:color:name" class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">



              <!--Card image-->
              <div *ngIf="p.frontCode" class="view overlay">
                <img src="http://localhost:8080/getPhotos/{{p.frontCode}}" class="card-img-top" alt="">
                <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]"  target="_blank" >
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--/Card image-->





              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]"  target="_blank"  class="grey-text">
                  <h5>{{p.category}}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]" class="dark-grey-text" target="_blank">{{p.name}}
                      <span class="badge badge-pill danger-color">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>{{p.soldPrice}} Tk.</strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->
<!--/filter result-->
          

        </div>
        <!--Grid row for filter-->







  <!--Grid row for lower to upper category sort-->
  <div  *ngIf="lowerToUpperProductsByCategory"  class="row wow fadeIn">



      <!--Grid column -->
      <div *ngFor="let p of lowerToUpperProductsByCategory" class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card">



            <!--Card image-->
            <div *ngIf="p.frontCode" class="view overlay">
              <img src="http://localhost:8080/getPhotos/{{p.frontCode}}" class="card-img-top" alt="">
              <a href="JavaScript:Void(0);" (click)="sendId(p.id)">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->





            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="JavaScript:Void(0);" (click)="sendId(p.id)" class="grey-text">
                <h5>{{p.category}}</h5>
              </a>
              <h5>
                <strong>
                  <a href="JavaScript:Void(0);" (click)="sendId(p.id)" class="dark-grey-text" >{{p.name}}
                    <span class="badge badge-pill danger-color">NEW</span>
                  </a>
                </strong>
              </h5>

              <h4 class="font-weight-bold blue-text">
                <strong>{{p.soldPrice}} Tk.</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->
<!--/seraching result-->

    </div>
    <!--/Grid row for lower to upper category sort-->



  <!--Grid row for upper to lower category sort-->
  <div  *ngIf="upperToLowerProductsByCategory"  class="row wow fadeIn">



      <!--Grid column -->
      <div *ngFor="let p of upperToLowerProductsByCategory" class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card">



            <!--Card image-->
            <div *ngIf="p.frontCode" class="view overlay">
              <img src="http://localhost:8080/getPhotos/{{p.frontCode}}" class="card-img-top" alt="">
              <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]"  target="_blank" >
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->





            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]"  target="_blank" class="grey-text">
                <h5>{{p.category}}</h5>
              </a>
              <h5>
                <strong>
                  <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]" class="dark-grey-text" target="_blank">{{p.name}}
                    <span class="badge badge-pill danger-color">NEW</span>
                  </a>
                </strong>
              </h5>

              <h4 class="font-weight-bold blue-text">
                <strong>{{p.soldPrice}} Tk.</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->
<!--/seraching result-->

    </div>
    <!--/Grid row for upper to lower category sort-->



  <!--Grid row for lower to upper brand sort-->
  <div  *ngIf="lowerToUpperProductsByBrand"  class="row wow fadeIn">



      <!--Grid column -->
      <div *ngFor="let p of lowerToUpperProductsByBrand" class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card">



            <!--Card image-->
            <div *ngIf="p.frontCode" class="view overlay">
              <img src="http://localhost:8080/getPhotos/{{p.frontCode}}" class="card-img-top" alt="">
              <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]"  target="_blank" >
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->





            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]"  target="_blank" class="grey-text">
                <h5>{{p.category}}</h5>
              </a>
              <h5>
                <strong>
                  <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]" class="dark-grey-text" target="_blank">{{p.name}}
                    <span class="badge badge-pill danger-color">NEW</span>
                  </a>
                </strong>
              </h5>

              <h4 class="font-weight-bold blue-text">
                <strong>{{p.soldPrice}} Tk.</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->
<!--/seraching result-->

    </div>
    <!--/Grid row for lower to upper barnd sort-->





  <!--Grid row for upper to lower brand sort-->
  <div  *ngIf="upperToLowerProductsByBrand"  class="row wow fadeIn">



      <!--Grid column -->
      <div *ngFor="let p of upperToLowerProductsByBrand" class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card">



            <!--Card image-->
            <div *ngIf="p.frontCode" class="view overlay">
              <img src="http://localhost:8080/getPhotos/{{p.frontCode}}" class="card-img-top" alt="">
              <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]"  target="_blank" >
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->





            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]"  target="_blank" class="grey-text">
                <h5>{{p.category}}</h5>
              </a>
              <h5>
                <strong>
                  <a href="JavaScript:Void(0);" [routerLink]="['productDetails', p.id]" class="dark-grey-text" target="_blank">{{p.name}}
                    <span class="badge badge-pill danger-color">NEW</span>
                  </a>
                </strong>
              </h5>

              <h4 class="font-weight-bold blue-text">
                <strong>{{p.soldPrice}} Tk.</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->
<!--/seraching result-->

    </div>
    <!--/Grid row for upper to lower barnd sort-->



      </section>
      <!--Section: Products v.3-->

    </div>
  </main>
  <!--Main layout-->

