
  .carousel-inner img{
    width: 100vw;
    height: 100vh;
    padding-top: 25vh;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(46,80,144, 0.8)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
mat-label{
  
  color: #7505A9;

  font-weight: bold;
  font-family: "calibri", Garamond, 'Comic Sans MS';
  font-size: 16px;
}
mat-option{
  text-align: center;
}

mat-form-field{
  display: inline;
}
#newFilter{
  margin-right: 20px;
}

#nfButton{

  color: #7505A9;

font-family: "calibri", Garamond, 'Comic Sans MS';
font-size: 16px;

}

#sortByPrice{
  margin-left: 30px;
  
  color: #7505A9;

  font-weight: bold;
  font-family: "calibri", Garamond, 'Comic Sans MS';
  font-size: 16px;
  margin-right: 20px;
}


#editBtn{

  padding: .4rem 2.5rem;
}
#deleteBtn{

  padding: .4rem 2.4rem;
}

#editProductM{
  overflow: auto;
}

#msgOKbtn{
  padding: .2rem 1rem;
}
