<p>addproducts works!</p>








<div class="container-fluid">
    <div class="row">
  
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
       
        <form class="form" name="biodataForm" [formGroup]="biodataForm">
          <div>
            <p id="headingP">(1)Upload applicant's image(2)Upload an application's image in a single page
              and signature of
              your department's Dean .
            </p>
            <hr>
          </div>
          <input type="hidden" name="product.id">
          <div id="fileSelectButton" class="btn btn-primary">
            <input type="file" required [formControl]="selectedPFileControl" (change)="selectpFile($event)"
             [(ngModel)]="product.selectedPFile">
          </div>
          <br><br>
         

          <div class="formDiv">
                <mat-form-field>
                  <mat-select matInput placeholder="Select a category" [(ngModel)]="product.category" name="category" required
                    [formControl]="categoryFormControl">
                    <mat-option *ngFor="let category of categories" [value]="category.category">{{ category.category }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="categoryFormControl.invalid">{{getRequiredErrorMessageForString('category')}}</mat-error>
      
                </mat-form-field>
      
             

           
            <mat-form-field class="full-width">
                    <input matInput placeholder="Name" required type="text" autocomplete="off"
                      [(ngModel)]="product.name" [formControl]="nameFormControl">
                    <mat-error *ngIf="nameFormControl.invalid">{{getRequiredErrorMessageForString('name')}}</mat-error>
                  </mat-form-field>
     

            
            <br>

            <mat-form-field class="full-width">
                <input matInput placeholder="Color" required type="text" autocomplete="off"
                  [(ngModel)]="product.color" [formControl]="colorFormControl">
                <mat-error *ngIf="colorFormControl.invalid">{{getRequiredErrorMessageForString('color')}}</mat-error>
              </mat-form-field>
 

        
        <br>

            <mat-form-field class="full-width">
              <input matInput placeholder="Quantity" required type="text" autocomplete="off"
                [(ngModel)]="product.quantity" [formControl]="quantityFormControl">
              <mat-error *ngIf="quantityFormControl.invalid">{{getRequiredErrorMessageForString('quantity')}}</mat-error>
            </mat-form-field>

            <br>

            <mat-form-field class="full-width">
              <input matInput placeholder="Price" required type="text" autocomplete="off"
                [(ngModel)]="product.price" [formControl]="priceFormControl">
              <mat-error *ngIf="priceFormControl.invalid">{{getRequiredErrorMessageForString('price')}}</mat-error>
            </mat-form-field>
            </div>
          <br>
          <button id="submitButton" mat-raised-button color="primary" class="submit-button"
           
           [disabled]="!(product.selectedPFile && product.name
          && product.category && product.quantity && product.price)"
            (click)="uploadFile()">submit</button>
        </form>
  
  
  
  </div>
    </div>
  </div>
  
